@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Using border-box sizing */
html {
  box-sizing: border-box;
  color: #222;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 160px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
main {
  margin-bottom: 120px;
}

/* font */

h1 {
  color: #d92622;
}

h2 {
  color: #d92622;
}

/* style navigation bar */
.custom-navbar {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.custom-navbar .nav-link {
  color: #222;
  font-weight: 400;
}

.custom-navbar .nav-link:hover {
  color: #d92622;
  font-weight: 400;
}

.custom-navbar .navbar-toggler {
  color: #fff;
}

/* style sidebar section */
.sidebar-wrapper {
  margin-bottom: 40px;
}
.sidebar-wrapper .list-group-item {
  border: none;
  background-color: transparent;
}

.sidebar-wrapper .list-group-item a {
  color: #333333;
  text-decoration: none;
  display: block;
  font-size: 1.15rem;
  padding: 10px 0;
}

.sidebar-wrapper .list-group-item-action:hover {
  background-color: transparent;
  color: #333333;
}

.sidebar-wrapper .list-group-item.active {
  background-color: #ffefee;
  border: 1px solid #d92622;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
}

.sidebar-wrapper .list-group-item.active a {
  color: #d92622;
  font-weight: 600;
}

/* style imageArea */
.image-gallery .main-image-box {
  border: none;
  border-radius: 10px;
  background-color: white;
}

.image-gallery .thumbnail {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  background-color: white;
  margin-bottom: 60px;
}

.image-gallery .active-thumbnail {
  border: 4px solid #d92622;
  background-color: white;
}

.image-gallery img.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

/* style perspective effect */
#perspective .scene {
  display: flex;
  justify-content: space-around;
  perspective: 900px;
  perspective-origin: top;
}

#perspective .img-fluid {
  transition: all 0.2s;
}

#perspective .img-fluid:hover {
  transform: rotateY(10deg);
}

/* style productDetails */
.productDetails h1 {
  font-family: "Bowlby One", cursive;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

input[type="number"] {
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 24px;
  width: 120px;
}

/* emphasis third paragraph */
.productDetails p:nth-of-type(3) {
  font-weight: 600;
  color:rgb(8, 117, 226)
}

/* when input is activated make it red */
input[type="number"]:focus {
  border-color: #d92622;
  box-shadow: 0 0 4px #e3aaa9;
}

.buy {
  background-color: #d92622;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
}

.cart {
  background-color: #333333;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* style footer */

footer {
  background-color: #222;
  color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}

/* ----------- style large screens ----------- */
@media (max-width: 1199.98px) {
  .sidebar-wrapper .list-group {
    justify-content: flex-start;
  }

  .sidebar-wrapper .list-group-item {
    padding: 10px 20px;
    flex: 0 0 auto; 
    width: auto;      
  }
}
